<!-- app/views/lists/index.html.erb -->
<div class="container mt-5">
  <div class="text-center">
    <h1 class="display-4">My Movie Lists</h1>
    <%= link_to 'Create a New List', new_list_path, class: "btn btn-primary mt-3" %>
  </div>

  <div class="row mt-4">
    <% @lists.each do |list| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-lg rounded">
          <!-- Random Image for each List, using Unsplash API for cars -->
          <img src="https://source.unsplash.com/random/400x250/?car" class="card-img-top rounded" alt="<%= list.name %>">

          <div class="card-body">
            <h5 class="card-title text-center">
              <%= link_to list.name, list_path(list), class: "text-decoration-none" %>
            </h5>
          </div>

          <div class="card-footer text-center">
            <%= link_to 'View List', list_path(list), class: "btn btn-info btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
